.image_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
  border-radius: 12px;
}

.new_img {
  width: 150px;
  object-fit: cover;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
.clear {
  color: white;
  cursor: pointer;
  border: 1px solid red;
}
