.credit_card_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
}
.front_card {
  background-image: url("bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 200px;
  border-radius: 12px;
  color: #fff;
  margin: 10px;
  position: relative;
}
.back_card {
  background-image: url("bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 200px;
  border-radius: 12px;
  margin: 10px;
  position: relative;
}
.number {
  position: absolute;
  top: 45%;
  left: 23%;
  font-size: 22px;
}
.name {
  position: absolute;
  top: 85%;
  left: 5%;
}
.expire_date {
  position: absolute;
  top: 85%;
  left: 85%;
}
