.credit_card_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.front_card {
  width: 350px;
  height: 200px;
  border-radius: 12px;
  color: #fff;
  margin: 10px;
  position: relative;
}
.back_card {
  background-image: url("bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 200px;
  border-radius: 12px;
  margin: 10px;
  position: relative;
  color: #fff;
}
.card_img {
  position: absolute;
  top: -10%;
  right: 68%;
  width: 200px;
  height: auto;
  object-fit: cover;
}
.number {
  position: absolute;
  top: 45%;
  left: 23%;
  font-size: 22px;
}
.name {
  position: absolute;
  top: 85%;
  left: 5%;
}
.expire_date {
  position: absolute;
  top: 86%;
  left: 85%;
}
.cvc {
  position: absolute;
  top: 44%;
  left: 85%;
}
/* form container */
.form_container {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  margin: 10px;
  padding: 10px;
  max-width: 100%;
  border-radius: 12px;
}
label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
input {
  padding: 6px;
  border-radius: 12px;
  outline: none;
  border: none;
  margin-top: 10px;
}
.expire {
  margin-top: 10px;
}

.small_input {
  text-align: center;
  width: 50px;
}

.big_input {
  text-align: center;
  width: 80px;
}

.m_y_cvc {
  display: flex;
  justify-content: space-between;
}

.expire_label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
